<h1><%= @pokemon.name %></h1>
<p>Name: <%= @pokemon.name %>
<p>Pokedex Num: <%= @pokemon.pokedex_num %>
<p>Fainted?: <%= @pokemon.fainted %> </p>

<img src=https://assets.pokemon.com/assets/cms2/img/pokedex/full/<%= @pokemon.pokedex_num.to_s.rjust 3, "0" %>.png alt="Pokemon" width="100" height="100">

<h4><a href="/pokemons/<%= @pokemon.id %>/edit"><%= 'Update Pokemon' %></a></h4>
<%= button_to "Delete Pokemon", "/pokemons/#{@pokemon.id}", method: :delete %>
