<h1>All Trainers</h1>

<% @trainers.map do |trainer| %>
  <h3><a href="/trainers/<%= trainer.id %>"><%= trainer.name %></a></h3>
  <p>Created at <%= trainer.created_at %><p>
  <p>all_8_badges? <%= trainer.all_8_badges %><p>
<% end %>

<%= link_to "New Trainer", "/trainers/new" %>
